[Desktop Entry]
Name=Kdevelop
Comment=Edit development projects with Kdevelop
GenericName=Development Environment
Exec=/usr/bin/kdevelop %F
Icon=Kdevelop
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;

# vi:set encoding=UTF-8:
