UI vesamenu.c32

MENU BACKGROUND #FF000000
menu color screen	37;40      #80ffffff #ff000000 std
menu color border	30;44      #40ffffff #00000000 std
menu color title	1;36;44    #c00090f0 #00000000 std
menu color unsel	37;44      #90aaaaaa #00000000 std
menu color hotkey	1;37;44    #ffffffff #00000000 std
menu color sel  	7;37;40    #e0ffff00 #aa222299 all
menu color hotsel	1;7;37;40  #e0400000 #20222255 all
menu color disabled	1;30;44    #60cccccc #00000000 std
menu color scrollbar	30;44      #40000000 #00000000 std
menu color tabmsg	31;40      #90ffff00 #00000000 std
menu color cmdmark	1;36;40    #c000ffff #00000000 std
menu color cmdline	37;40      #c0ffffff #00000000 std
menu color pwdborder	30;47      #80ffffff #20ffffff std
menu color pwdheader	31;47      #80ff8080 #20ffffff std
menu color pwdentry	30;47      #80ffffff #20ffffff std
menu color timeout_msg	37;40      #80ffffff #00000000 std
menu color timeout	1;37;40    #c0ffffff #00000000 std
menu color help 	37;40      #c0ffffff #00000000 std
menu color msg07	37;40      #90ffffff #00000000 std

MENU TITLE Browneye Installation ISO
MENU VSHIFT 5

PROMPT 1
TIMEOUT 50
DEFAULT browneye

LABEL Install Browneye Linux
	LINUX /boot/vmlinuz
	APPEND initrd=/boot/initrd.img root=live:CDLABEL=BrowneyeLive rd.live.dir=liveos quiet splash

LABEL debug
	LINUX /boot/vmlinuz
	APPEND initrd=/boot/initrd.img root=live:CDLABEL=BrowneyeLive rd.debug rd.live.dir=liveos
