[Desktop Entry]
Name=Chromium (bin)
Comment=Browse the internet with Chromium
GenericName=Web Browser
Exec=/opt/chromium/chrome %F
Icon=/opt/chromium/product_logo_48.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;WebBrowser;
