[Desktop Entry]
Name=Firefox
Comment=Browse the internet with Firefox
GenericName=Web Browser
Exec=/opt/firefox/firefox %F
Icon=Firefox
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;

# vi:set encoding=UTF-8:
