[Desktop Entry]
Name=Firefox (bin)
Comment=Browse the internet with Firefox
GenericName=Web Browser
Exec=/opt/firefox/firefox %F
Icon=/opt/firefox/browser/chrome/icons/default/default128.png
Terminal=false
StartupNotify=true
Type=Application
Keywords=web;browser;internet;www;
Categories=Network;WebBrowser;
