[Desktop Entry]
Type=Application
Name=transmission-remote-gui 
GenericName=Transmission Remote Gui
Comment=Cross platform remote GUI for the Transmission Bit-Torrent client
Icon=transgui
TryExec=transgui
Exec=transgui
Terminal=false
Categories=Network;

